.main-containers {
  justify-content: space-between;
}

.main-container {
  background: #c8c8c8;
  width: 50vw;
  max-width: 512px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 64px;
  padding: 16px 48px 16px 48px;
}

.main-container h1 {
  margin-top: 16px;
}

.main-buttons {
  background: #c8c8c8;
  max-width: 512px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  margin-top: 32px;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
}

.button-item {
  width: 50%;
  margin: 0 16px 0 16px;
}

.button-item button {
  width: 100%;
}

.button-item button,
.button-item span {
  background: #c75858;
  color: white;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.button-item button:hover,
.button-item span:hover {
  background: #c75858;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-Item {
  text-align: center;
  background: rgba($color: #000000, $alpha: 0.2);
  height: 32px;
  margin: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.vote-box {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  text-align: center;
  margin: 4px 0 4px 0;
}

.vote-green {
  background: #5ec950;
}

.vote-red {
  background: #c75858;
}

.vote-list {
  display: flex;
  justify-content: space-between;
}
